.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #1b1d29;
  padding: 20px;
}

.brand {
  width: 27px;
  height: 40px;
}

.items {
  list-style: none;
  padding: 0px;
  margin-top: 44px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}

.item div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px #888991;
}
