.wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  outline-color: #0085ff;
  padding: 15px 17px;
}

.filter {
  display: flex;
}

.filter div {
  margin-right: 8px;
}

.filter button {
  border: solid 1px #cfd2d9;
  width: 150px;
  color: #262626;
}
